<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jl.wetter" 
	version="1.0.0" 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="https://phonegap.com/ns/1.0"
	xmlns:android = "http://schemas.android.com/apk/res/android" >

	<name>WetterApp</name>
	<description>
		Zeigt das Wetter fuer den gewuenschten Ort an
	</description>

	<author>
	   JL
	</author>

	<preference name="phonegap-version" value="cli-7.0.1" />
	<preference name="permissions" value="none"/>
	
</widget>
